.company{
  padding-top: 6.1rem;
  &__title{
    margin-top: 8.4rem;
    margin-bottom: 6.4rem;
  }
  &__desc{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.7;
  }
  img{
    max-width: 64.7rem;
    height: auto;
  }
}