@font-face {
	font-family: 'Proxima Nova Light';
	font-display: swap;
	src:url('../fonts/proxima_nova_light.woff2') format('woff2'),
		  url('../fonts/proxima_nova_light.woff') format('woff'),
}	
@font-face {
	font-family: 'Proxima Nova Regular';
	font-display: swap;
	src:url('../fonts/proxima_nova_regular.woff2') format('woff2'),
		  url('../fonts/proxima_nova_regular.woff') format('woff'),
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	font-display: swap;
	src:url('../fonts/proxima_nova_semibold.woff2') format('woff2'),
		  url('../fonts/proxima_nova_semibold.woff') format('woff'),
}
@font-face {
	font-family: 'Proxima Nova Bold';
	font-display: swap;
	src:url('../fonts/proxima_nova_bold.woff2') format('woff2'),
		  url('../fonts/proxima_nova_bold.woff') format('woff'),
}