.header{
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  &__bg{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 85rem;
    width: 50%;
    z-index: -1;
  }
  &__wrap{
    @extend .flex-aic-jcfs;
  }
  &__logo{
    margin-right: 16rem;
  }
  &__menu{
    display: flex;
  }
  &__menu-list{
    @extend .flex-aic-jcsb;
  }
  &__menu-list li{
    margin-left: 2.5rem;
  }
  &__menu-list a{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--color__title);
    transition: color 0.2s linear;
    &:hover{
      color:var(--color__accent);
    }
  }
  .register {
    background-color: var(--color__accent);
    width: 8rem;
    height: 3rem;
    padding: 0.7rem 1.6rem;
    border: 1.5px solid transparent;
    border-radius: 12rem;
    color:var(--color__light);
    transition: color 0.2s linear, background-color 0.2s linear;
    z-index: 44;
    margin-left: 3rem;
  }
  .register:hover{
    background-color: transparent;
    border: 1.5px solid var(--color__accent);
    color:var(--color__light);
  }
}
.burger__menu{
  display: none;
  position: relative;
  width: 4rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  span{
    display: block;
    width: 100%;
    height: 0.3rem;
    background-color:var(--color__accent);
    &::before,&::after{
      content:'';
      display: block;
      position: absolute;
      width: 100%;
      height: 0.3rem;
      background-color:var(--color__accent);
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
  }
}
.burger__menu--active{
  span{
    background-color:transparent;
    &::before{
      transform: translateY(14px) rotate(45deg);
    }
    &::after{
      transform: translateY(-13px) rotate(-45deg);
    }
  }
}
@media(max-width:1400px) {
  .header__bg{
    width: 50%;
    height: auto;
  }
}
@media(max-width:1250px) {
  .header{
    &__bg{
      width: 40%;
    }
    &__logo{
      margin-right: 8rem;
    }
  }
}
@media(max-width:1000px) {
  .header{
    &__bg{
      width: 60%;
    }
    &__wrap{
      max-width: 80%;
      justify-content: space-between;
    }
    &__logo{
      margin-right: 3rem;
    }
    &__menu-list{
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      background-color: azure;
      width: 100%;
      padding-bottom: 10rem;
      padding-top: 12rem;
      transform: translateY(-100%);
      &.active{
        transform: translateY(0);
      }
      li{
        margin-bottom: 2rem;
        margin-left: 0;
      }
    }
    .burger__menu{
      display: block;
    }
  }
}
@media(max-width:500px){
 .header{
   &__wrap{
     max-width: 100%;
   }
   &__logo{
     width: 10rem;
     height: 3.5rem;
     margin-right: 1rem;
   }
   .register{
     margin-left: 6rem;
   }
  }
  .burger__menu{
    text-align: center;
  }
}