.services {
  padding-top: 9.7rem;
  padding-bottom: 10rem;
  background: var(--bg-secondary_color);
  max-width: 182rem;
  max-height: 79.4rem;
  margin: 0 auto;
  &__title {
    text-align: center;
    margin-bottom: 7rem;
    &::before{
      left: 46%;
    }
  }
  &__swiper {
    max-width: 114rem;
    padding-bottom: 4rem;
  }
  &__slide {
    position: relative;
    width: 36rem;
    height: 100%;
    flex-grow: 1;
    border-radius: 2rem;
    overflow: hidden;
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%);
    }
  }
  &__slide-box {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3.3rem 2.3rem 3rem;
  }
  &__slide-title {
    margin-bottom: 1.3rem;
  }
  &__slide-desc {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 1.4rem;
  }
}

@media(max-width:600px){
  .services{
    &__swiper-pagination{
      display: block;
    }
    &__button-prev,&__button-next{
      display: none;
    }
  }
}