@font-face
  {
  font-family: ProductSans;
  src: url("../fonts/Product-Sans-Regular.woff");
  src: url("../fonts/Product\ Sans\ Regular.ttf");
  font-style: normal;
  font-weight:400;
}
@font-face
  {
  font-family: ProductSans;
  src: url("../fonts/Product-Sans-Bold.woff");
  src: url("../fonts/Product\ Sans\ Bold.ttf");
  font-style: normal;
  font-weight:700;
}